@import url('https://fonts.googleapis.com/css?family=Prompt:400,700');
@import 'vue-loading-overlay/dist/vue-loading.css';
@import 'vue-good-table/dist/vue-good-table.css';
.con1364{
    width: 1364px !important;
}
.fontth {
    font-family: 'Prompt', sans-serif;
}

.fs24{
    font-size: 24px;
}
.fs32{
    font-size: 32px;
}
.cred{
    color: #E53167;
}

.cwhite{
    color: white;
}
.center{
    text-align: center;
}
.left{
    float: left;
}
.right{
    float: right;
}
.yr-select{
    border-radius: 1000px;
    border-color: #61a0ff;
}
.yr-button{
    border-radius: 1000px;
    background: #ffa200;
    border-color: #ffa200;
    min-width: 100px;
}
.bgartest{
    background-image: url("../assets/bgartest.png");
    width: 100%;
    height: 100%;
}
.footer{
    background-image: linear-gradient(to right, #6490f9, #5ba0fd, #5aaeff, #62bbff, #71c8fe);
    width: 100%;
    height: 230px;
    position: absolute;
    /* bottom:0px; */
}
ul {
    list-style-type: none;
  }